<!-- displays all instances and logs using a for loop -->
<% for(var i = 0; i < exercise_instance.length; i++) { %>

<td><%= i+1 %></td>
<td><%= exercise_instance[i].exercise_type %></td>
<td><%= exercise_instance[i].duration %></td>
<td><%= exercise_instance[i].srl %></td>
<td><%= exercise_instance[i].cals %></td>
<td>
    <!-- updates / deletes a specific ID  -->
    <a href="/update-exercise?id=<%= exercise_instance[i]._id%> " class="button_action update">
        <span class="text-color"><i class="fas fa-thin fa-pen"></i></span>
    </a>
    <a href="#" class="button_action delete" data-id = <%= exercise_instance[i]._id%>>
        <span class="text-color"><i class="fas fa-solid fa-trash"></i></span>
    </a>
</td>
<% } %>
